.ClientHub-Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);
}

.ClientHub-BodyWeight {
  color: var(--color-text);

  font-size: var(--font-size-md);
  font-weight: 500;
}
