{
  "*.{js,ts,tsx}": ["eslint --fix"],
  "*.md": ["prettier --write --parser markdown"],
  "*.json": ["prettier --write --parser json"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "*.feature": ["gherkin-lint"]
}
