.ActiveWorkoutTabs {
  display: flex;
  overflow-x: auto;
  flex-shrink: 0;
  gap: var(--space-sm);

  padding: var(--space-sm) var(--space-md);

  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-surface);

  scrollbar-width: thin;
}
