.Fab {
  position: fixed;
  z-index: 1;
  right: var(--space-xl);
  bottom: calc(var(--tap-target) + var(--space-lg));

  width: 3.5rem;
  height: 3.5rem;
  padding: 0;

  border-radius: 50%;
  box-shadow: var(--shadow-sm);

  .Button-Label {
    display: none;
  }

  .Button-StartIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
