.ClientHub-ErrorBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-md);

  padding: var(--space-lg) 0;
}

.ClientHub-Error {
  margin: 0;

  text-align: center;

  color: var(--color-danger);

  font-size: var(--font-size-md);
}

.ClientHub-Retry {
  min-width: 8rem;
}
